<h1>Equipment Show</h1>
<div><%= @equipment[:name] %> </div>
<div>ID Number: <%= @equipment[:id_number] %></div>
<div>Condition: <%= @equipment[:condition] %></div>
<div>Checked Out: <%= @equipment[:checked_out] %>, <%= @equipment[:location] %></div>
<div>Notes: <%= @equipment[:notes] %></div>

<h1>Add links to edit and delete</h1>