<h1>Work Orders Index</h1>



<% @work_order.each do |work_order| %>
  <tr>
    <td><%= work_order.number %></td>
    <td><%= work_order.room_name %></td>
    
    
    <td>
      <%= link_to 'View', work_order_path(work_order.id) %>
      <%= link_to 'Edit', edit_work_order_path(work_order.id) %>
      <%= link_to 'Delete', work_order, :method => 'delete' %>
    </td>
  </tr><br>

  <% end %>

  <p><%= link_to 'New Work Order', new_work_order_path %></p>