<h1>Work Orders Show</h1>
<div>Number: <%= @work_order[:number] %> </div>
<div>Room: <%= @work_order[:room_name] %></div>
<div>Date: <%= @work_order[:date] %></div>
<div>Technician: <%= @work_order[:employee_name] %>, <%= @work_order[:employee_id] %></div>
<div>Notes: <%= @work_order[:notes] %></div>